
		header{
			background-color: #33cc33;
			height: 100px;
			text-align: center;
		}
		section{
			background-color: #e0e0d1;
			height: 400px;
		}
		footer{
		    background-color: #33cc33;
			height: 50px;
			text-align: center;
			
		}